{% extends 'base.html' %}

{% block title %} Объявления {% endblock %}

{% block content %}
    <h1>Объявления</h1>

    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Готово">Применить</button>
    </form>

    {% for ad in ads %}
        <h2 class="object-title">{{ ad.location.address }}</h2>
        <h3>Количество комнат: {{ ad.rooms }} | Площадь: {{ ad.area }} м<sup>2</sup> | Цена: {{ ad.cost }}</h3>
        <p>{{ ad.ad.description  }}</p>
        <!-- url 'generate' ad_id=ad.ad.id -->
        <a href="/" class="btn-generate">Сгенерировать</a>
    {% endfor %}
{% endblock %}