{% block subject %} Восстановление пароля {% endblock %}
{% block html %}

{% load static %}

<table align="center" width="60%" bgcolor="#f3f7cc" style="border: none;">
	<tr>
		<td width="100%" height="40" bgcolor="#12c064">
			<a href="{{ scheme }}://{{ host }}/" style="text-decoration: none;"><h2 style="color: #f3f7cc; margin-left: 20px;">Horoomy</h2></a>
		</td>
	</tr>
	<tr>
		<td>
			<table align="center" width="40%">
				<tr> 
					<td width="50%">
						<h2 class="text-center" style="color: #333333;">Здравствуйте, {{ name }}!</h2>
						<hr style="background-color: #333333; border: none; height: 1px; width: 560px; margin-bottom: 0;">
					</td>
				</tr>
				<tr>
					<td width="100%">
						<p style="color: #333333">Нам очень грустно осозновать, что вы забыли свой пароль. Впредь, постарайтесь этого не допустить, ну а кнопочка снизу - ваша последняя надежда вернуть свой аккаунт.</p>
					</td>
				</tr>
				<tr>
					<td width="100%" height="80">
						<a href="{{ scheme }}://{{ host }}/accounts/restore/confirm/{{ key }}" target="_blank"><button style="height: 50px; background-color: #12c064; font-size: 18px; color: #f3f7cc; border: none; border-radius: 0;">Восстановить пароль</button></a>
					</td>	
				</tr>
				<tr>
					<td width="100%" align="center" height="20">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>		
{% endblock %}