{% extends 'base.html' %}

{% block title %} {{ ad.flat.location.address }} {% endblock %}

{% block head %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    ymaps.ready(init);

    function init(){
        var myMap = new ymaps.Map("map", {
            center: [{{ coords }}],
            zoom: 17
        });

        var myPlacemark = new ymaps.Placemark([{{ coords }}], {
            balloonContent: '{{ ad.flat.location.address }}'
        });

        myMap.geoObjects.add(myPlacemark);
    }
</script>
{% endblock %}


{% block content %}
    <h1 class="flex flex-v-align-center">
        {{ ad.flat.get_type_display }} — {{ ad.flat.location.address|default:'< Нет адреса >' }}
        <div class="inline-float-right {% if not ad.complete %}ad-inline-incomplete{% endif %}">
            <div class="color-block">
            {% if ad.complete %}
                Полное
            {% else %}
                Неполное
            {% endif %}
            </div>
        </div>
    </h1>
    <div class="flex shit" style="justify-content: space-between;">
        <div class="details-col">
            <h2>Основное:</h2>
            <div class="flex-vertical">
                {% if ad.flat.type == '0' %}
                <span class="color-block-gray flex-v-spacing">
                    Комнат: <b>{{ ad.flat.rooms|default:'—' }}</b>
                </span>
                {% endif %}
                <span class="color-block-gray flex-v-spacing">
                    Площадь: <b>{{ ad.flat.area|default:'—' }}</b> м<sup>2</sup>
                </span>
                <span class="color-block-gray flex-v-spacing">
                    Цена: <b>{{ ad.flat.cost|default:'—' }}</b> ₽
                </span>
            </div>
        </div>
        <div class="details-col">
            <h2>Дополнительно:</h2>
            <div class="flex-vertical">
                <span class="color-block-gray flex-v-spacing">
                    Размещено: <b>{{ ad.created|date:'d.m.Y' }}</b>
                </span>
                <span class="color-block-gray flex-v-spacing">
                    Парсер: <b>{{ ad.parser.name }}</b>
                </span>
                <span class="color-block-gray flex-v-spacing">
                    Ссылка: <a href="{{ ad.url }}"><b>клик</b></a>
                </span>
            </div>
        </div>
        <div class="details-col">
            <h2>Контакты:</h2>
            <div class="flex-vertical">
                {% if ad.contacts.name %}
                <span class="color-block-gray flex-v-spacing">
                    Имя: <b>{{ ad.contacts.name }}</b>
                </span>
                {% endif %}
                <span class="color-block-gray flex-v-spacing">
                    Телефон: <b>{{ ad.contacts.phone }}</b>
                </span>
                {% if ad.contacts.email %}
                <span class="color-block-gray flex-v-spacing">
                    Email: <b>{{ ad.contacts.email}}</b>
                </span>
                {% endif %}
                {% if ad.contacts.vk %}
                <span class="color-block-gray flex-v-spacing">
                    Вконтакте: <a href="{{ ad.contacts.vk }}"><b>клик</b></a>
                </span>
                {% endif %}
                {% if ad.contacts.fb %}
                <span class="color-block-gray flex-v-spacing">
                    Facebook: <a href="{{ ad.contacts.fb }}"><b>клик</b></a>
                </span>
                {% endif %}
            </div>
        </div>
        <div class="details-col">
            {% with metros=ad.flat.metros.all %}
                {% if metros %}
                    <h2>Метро:</h2>
                    <div class="flex-vertical">
                    {% for metro in metros %}
                        <span class="color-block flex-v-spacing" style="font-size: 16px;">
                            м. {{ metro.name }}
                        </span>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <h2>Описание:</h2>
    {% if ad.description %}
    <p class="p-margin">{{ ad.description }}</p>
    {% else %}
    <p>< Нет описания ></p>
    {% endif %}
    <div class="flex">
    <div style="width: 550px; height: 400px; margin-right: 30px">
        <h2>Фотографии:</h2>
        {% if images %}
        <ul id="slider">
            {% for image in images %}
                <li><img src="{{ image.url }}" class="img-responsive"></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>< Нет фотографий ></p>
        {% endif %}
    </div>
    <div>
        <h2>На карте:</h2>
        <div id="map" style="width: 550px; height: 400px;" class="img-map"></div>
    </div>
<script>
    $(document).ready(function(){
        $('#slider').bxSlider({
            slideWidth: 600,
            speed: 500,
            auto: true,
            pause: 5000
        });
    });
</script>
{% endblock %}