django
django-phonenumber-field
django-templated-email
django-annoying
django-celery
django-easy-pdf
django-allauth
dj-database-url
whitenoise
gunicorn
psycopg2
celery==3.1.25
redis
html5lib
lxml
beautifulsoup4